
img{
  width:33%;
  height: 50%;
}

.column img{
  margin-top: 9px;
  vertical-align: middle;
  flex:33%;
}

img:hover{
  transform: rotate(90deg);
  transform: skewY(20deg);
  box-shadow: 3px black;
}
